.body {
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
  min-width: 320px;

  @include padding;

  @include basic-font;

  @media (min-width: $min-tablet) {
    font-size: 14px;
    line-height: 23.8px;
  }
}

 .body__title {
  font-family: "Space Grotesk", "Helvetica", sans-serif;
  text-transform: uppercase;

  @include zero;

  margin-top: 73px;
  
  @include other-font;

  @media (min-width: $min-tablet) {
    font-size: 48px;
    line-height: 57.6px;
  }
}

.body__title-span {
  display: inline;
  box-shadow: 15px 0 0 $basic-blue;
  background-color: $basic-blue;
}

.body__list {
  @include zero;
  margin-top: 45px;
  list-style: none;
}
